*
{
    margin: 0;
    padding: 0;
}
#mWrapper
{
    background-color: #353535;
    color: #54bafd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 330px;
    height: 360px;
    position: absolute;
    border-radius: 15px;
    z-index: 9999999999;
    box-shadow:
  0.2px 0.7px 0.2px -18px rgba(0, 0, 0, 0.296),
  0.5px 1.7px 1px -18px rgba(0, 0, 0, 0.399),
  0.9px 3.1px 2.8px -18px rgba(0, 0, 0, 0.43),
  1.6px 5.6px 6.2px -18px rgba(0, 0, 0, 0.447),
  2.9px 10.4px 13.1px -18px rgba(0, 0, 0, 0.517),
  7px 25px 32px -18px rgba(0, 0, 0, 0.93)
;

}

#defDiv
{
    font-family: 'Poppins', sans-serif;
    color: #54bafd;
    overflow-y: scroll;
    min-width: 330px;
    height: 320px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#defDiv::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
}

#defDiv::-webkit-scrollbar-track
{
    background-color: #353535;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

#defDiv::-webkit-scrollbar-track:horizontal
{
    
    margin-left: 20px;
    margin-right: 10px;
}

#defDiv::-webkit-scrollbar-thumb
{
    background-color: #353535;
    border: 1px solid #9c9c9c;
    border-radius: 20px;
}

#defDiv::-webkit-scrollbar-thumb:active
{
    background-color: #9c9c9c;
    border: 1px solid #9c9c9c;
    border-radius: 20px;
}

#defDiv::-webkit-scrollbar-corner
{
    background-color: rgba(0, 0, 0, 0);
}

.csdefination
{
    color: #73c7ff;
    margin-left: 10px;
    font-weight: 400;
    font-size: 15px;
}

#dragDiv
{
    background-color: #414141;
    min-width: 330px;
    height: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: inset -2px -3px 4px #5f5f5f, inset 3px 3px 7px #050505;
}

#dragDiv:hover
{
    cursor: grab;
}

#dragDiv:active
{
    box-shadow: inset -5px -6px 8px #5f5f5f, inset 5px 5px 10px #050505;
    cursor: grabbing;
}

.csExample
{
    color: aliceblue;
    font-weight: 200;
    max-width: 330px;
    margin: 0 0 20px 25px;
    font-size: 12px;
}

.csmain
{
    color:#54bafd;
    font-weight: 500;
    width: 330px;
    font-size: 48px;
    padding: 0;
    margin: 0 0 5px 10px;
    border: 0;
}

.csmeaning
{
    border-left: 2px solid #6d6c6c;
    margin-left: 10px;
}

.cspartOfSpeech
{
    color:#54bafd;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 10px 10px;
}

.separate
{
    background-color: #5f5f5f;
    height: 1px;
    width: 100px;
    margin: auto;
    border: 0;
}
